<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testsadar">
    <classes>
      <class name="MaveanGI.MavenAI.LoginTest"/>
      <class name="MaveanGI.MavenAI.AppTest"/>
      <class name="MaveanGI.MavenAI.Login_TC2Test"/>
    </classes>
  </test> <!-- Testsadar -->
</suite> <!-- Suite -->
